<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.cloud.democlient.mapper.TradeOrderDAO" >
  <resultMap id="BaseResultMap" type="com.example.cloud.democlient.dataobject.TradeOrderDO" >
    <id column="TRADE_VOUCHER_NO" property="tradeVoucherNo" jdbcType="VARCHAR" />
    <result column="TRADE_SRC_VOUCHER_NO" property="tradeSrcVoucherNo" jdbcType="VARCHAR" />
    <result column="ORIG_TRADE_VOUCHER_NO" property="origTradeVoucherNo" jdbcType="VARCHAR" />
    <result column="BIZ_NO" property="bizNo" jdbcType="VARCHAR" />
    <result column="BIZ_PRODUCT_CODE" property="bizProductCode" jdbcType="VARCHAR" />
    <result column="TRADE_AMOUNT" property="tradeAmount" jdbcType="DECIMAL" />
    <result column="TRADE_TYPE" property="tradeType" jdbcType="VARCHAR" />
    <result column="GMT_SUBMIT" property="gmtSubmit" jdbcType="TIMESTAMP" />
    <result column="BUYER_ID" property="buyerId" jdbcType="VARCHAR" />
    <result column="BUYER_NAME" property="buyerName" jdbcType="VARCHAR" />
    <result column="SELLER_ID" property="sellerId" jdbcType="VARCHAR" />
    <result column="SELLER_NAME" property="sellerName" jdbcType="VARCHAR" />
    <result column="SELLER_ACCOUNT_NO" property="sellerAccountNo" jdbcType="VARCHAR" />
    <result column="PARTNER_ID" property="partnerId" jdbcType="VARCHAR" />
    <result column="PARTNER_NAME" property="partnerName" jdbcType="VARCHAR" />
    <result column="ACCESS_CHANNEL" property="accessChannel" jdbcType="VARCHAR" />
    <result column="EXTENSION" property="extension" jdbcType="VARCHAR" />
    <result column="PRE_STATUS" property="preStatus" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="TRADE_MEMO" property="tradeMemo" jdbcType="VARCHAR" />
    <result column="RESULT_MEMO" property="resultMemo" jdbcType="VARCHAR" />
    <result column="ERROR_CODE" property="errorCode" jdbcType="VARCHAR" />
    <result column="ERROR_MSG" property="errorMsg" jdbcType="VARCHAR" />
    <result column="GMT_INVALID" property="gmtInvalid" jdbcType="TIMESTAMP" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="IS_NOTIFIED" property="isNotified" jdbcType="CHAR" />
    <result column="PROD_DESC" property="prodDesc" jdbcType="VARCHAR" />
    <result column="PROD_SHOW_URL" property="prodShowUrl" jdbcType="VARCHAR" />
    <result column="RELATED_TRADE_VOUCHER_NO" property="relatedTradeVoucherNo" jdbcType="VARCHAR" />
    <result column="PROCESSOR_ID" property="processorId" jdbcType="VARCHAR" />
    <result column="BATCH_NO" jdbcType="VARCHAR" property="batchNo" />
    <result column="SUBMIT_ID" jdbcType="VARCHAR" property="submitId" />
    <result column="FREEZE_FLAG" jdbcType="VARCHAR" property="freezeFlag"/>
  </resultMap>

  <sql id="Base_Column_List" >
    TRADE_VOUCHER_NO, TRADE_SRC_VOUCHER_NO, ORIG_TRADE_VOUCHER_NO, BIZ_NO, BIZ_PRODUCT_CODE, 
    TRADE_AMOUNT, TRADE_TYPE, GMT_SUBMIT, BUYER_ID, BUYER_NAME, SELLER_ID, SELLER_NAME, 
    SELLER_ACCOUNT_NO, PARTNER_ID, PARTNER_NAME, ACCESS_CHANNEL, EXTENSION, PRE_STATUS, 
    STATUS, TRADE_MEMO, RESULT_MEMO, ERROR_CODE, ERROR_MSG, GMT_CREATE, GMT_MODIFIED, 
    IS_NOTIFIED, PROD_DESC, PROD_SHOW_URL, RELATED_TRADE_VOUCHER_NO, PROCESSOR_ID, GMT_INVALID, BATCH_NO,
    SUBMIT_ID,FREEZE_FLAG
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_TRADE_ORDER
    where TRADE_VOUCHER_NO = #{tradeVoucherNo,jdbcType=VARCHAR}
  </select>


  <select id="selectOneTest" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from T_TRADE_ORDER
    where TRADE_VOUCHER_NO = #{tradeVoucherNo,jdbcType=VARCHAR}
  </select>


</mapper>